@font-face {
  font-family: "SF-Pro-Text-Bold";
  src: url("/assets/fonts/SF-Pro-Text-Bold.otf") format("opentype");
}
@font-face {
  font-family: "SF-Pro-Text-Light";
  src: url("/assets/fonts/SF-Pro-Text-Light.otf") format("opentype");
}
@font-face {
  font-family: "SF-Pro-Text-Medium";
  src: url("/assets/fonts/SF-Pro-Text-Medium.otf") format("opentype");
}
@font-face {
  font-family: "SF-Pro-Text-Regular";
  src: url("/assets/fonts/SF-Pro-Text-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SF-Pro-Text-Semibold";
  src: url("/assets/fonts/SF-Pro-Text-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "SF-Pro-Text-Thin";
  src: url("/assets/fonts/SF-Pro-Text-Thin.otf") format("opentype");
}
