@import url(/css/_fonts.css);

:root {
  --primary-color: #179ce4;
  --primary-text-color: #2f3132;
  --secondary-text-color: #636363;
  --error-color: #e50914;
  --success-color: #8bc241;
  --line-color: #dedede;
  --link-color: #1a94e6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "SF-Pro-Text-Regular", sans-serif;
  font-size: 1rem;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: #1a94e6cb;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 936px;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.header {
  padding: 65px 0;
}

.header__link {
  font-family: "SF-Pro-Text-Bold";
}

.hero__title {
  font-family: "SF-Pro-Text-Bold";
  font-size: 48px;
  color: var(--primary-text-color);
  letter-spacing: -1.13px;
  text-align: left;
}

.hero__text {
  font-family: "SF-Pro-Text-Light";
  font-size: 25px;
  color: var(--primary-text-color);
  letter-spacing: -0.59px;
  text-align: left;
  margin-top: 1rem;
  max-width: 536px;
}

.content__title {
  margin: 4rem 0 1rem 1rem;
  font-family: "SF-Pro-Text-Bold";
  font-size: 16px;
  color: var(--primary-text-color);
  letter-spacing: -0.38px;
  text-align: left;
}

/* TODO SECTION */
.todo {
  display: flex;
}

.todo__input {
  font-size: 1rem;
  padding: 0 1rem;
  width: 100%;
  border: 1px solid var(--line-color);
  border-radius: 4px;
}

.todo__button {
  font-family: "SF-Pro-Text-Bold";
  font-size: 14.4px;
  color: #ffffff;
  letter-spacing: -0.34px;
  text-align: left;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 1rem 2rem;
  margin-left: 2rem;
  min-width: 9rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.todo__button:hover {
  background: #ffffff;
  color: var(--primary-color);
}

.todo__list {
  border: 1px solid var(--line-color);
  border-radius: 4px;
}

.todo__warning {
  display: none;
  border: 1px solid var(--line-color);
  border-radius: 4px;
  font-family: "SF-Pro-Text-Regular";
  font-size: 16px;
  letter-spacing: -0.38px;
  color: var(--primary-text-color);
  text-align: left;
  padding: 1rem;
}

.todo__item {
  border-bottom: 1px solid var(--line-color);
  font-family: "SF-Pro-Text-Regular";
  font-size: 16px;
  color: var(--primary-text-color);
  letter-spacing: -0.38px;
  text-align: left;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.todo__item:hover {
  background: #dedede25;
}

.todo__item.is-completed {
  color: var(--succes-color);
  background: rgba(138, 194, 65, 0.25);
}

.todo__item.is-completed:hover {
  background: rgba(138, 194, 65, 0.18);
}

.todo__item:last-child {
  border-bottom: none;
}

.todo__operators {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__delete {
  font-family: "SF-Pro-Text-Bold";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border: 1px solid var(--line-color);
  border-radius: 50%;
  background: var(--error-color);
  color: white;
  margin-left: 0.2rem;
  font-size: 11px;
}

.todo__delete:hover {
  background: rgba(255, 0, 0, 0.897);
}

.check__complete {
  display: inline-block;
  height: 24px;
  width: 24px;
  border: 1px solid var(--line-color);
  border-radius: 50%;
}

.is-completed .check__complete {
  background: #8bc241;
}
.is-completed .check__complete:hover {
  background: #92cf42f5;
}

.is-completed .check__complete > div {
  position: relative;
  color: white;
}

.is-completed .check__complete > div:before {
  content: " ";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 4px;
  left: 7.5px;
  transform: rotate(45deg);
  height: 9px;
  width: 5px;
  z-index: 2;
}

/* FOOTER */
.footer {
  font-family: "SF-Pro-Text-Regular";
  font-size: 14.4px;
  color: var(--primary-text-color);
  letter-spacing: -0.34px;
  text-align: left;
  margin-bottom: 4rem;
}

.footer__wrapper {
  display: flex;
}

.footer__card {
  flex: 0 1 33%;
  margin-right: 1.5rem;
  flex-wrap: wrap;
}

.footer__card:last-child {
  margin: 0;
}

/* FOOTER CARD */
.card__img {
  height: 160px;
  background: url(/assets/images/true-agency-o4UhdLv5jbQ-unsplash.jpg) no-repeat center center/cover;
  border-radius: 4px 4px 0px 0px;
}

.card__body {
  padding: 2rem;
  border: 1px solid var(--line-color);
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.card__title {
  font-family: "SF-Pro-Text-Medium";
  font-size: 21px;
  color: var(--primary-text-color);
  letter-spacing: -0.49px;
  margin-bottom: 1rem;
}

.card__text {
  font-family: "SF-Pro-Text-Regular";
  font-size: 14.4px;
  color: var(--secondary-text-color);
  letter-spacing: -0.34px;
  line-height: 23px;
  margin-bottom: 1rem;
}

.card__link {
  position: relative;
  display: flex;
  align-items: center;
}
.card__link span {
  display: inline-block;
  background: url(/assets/images/icons8-right-arrow-50.png) no-repeat center center/cover;
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
}

/* FOOTER LISTS */
.list__title {
  font-family: "SF-Pro-Text-Medium";
  margin-bottom: 0.7rem;
}

.card__title {
  font-family: "SF-Pro-Text-Medium";
}

.footer__list {
  margin-bottom: 1rem;
}

.footer__link {
  position: relative;
  border-bottom: 1px solid var(--line-color);
  padding: 0.8rem 0;
  width: 100%;
}

.footer__link a {
  display: inline-block;
  width: 100%;
}

.footer__link.footer__dropdown__links {
  color: var(--link-color);
  cursor: pointer;
}

.footer__link.footer__dropdown__links:hover {
  color: #1a94e6cb;
}

.footer__links {
  position: relative;
}

.footer__arrow {
  position: absolute;
  right: 0;
}

.is-active .footer__arrow {
  transform: rotate(-180deg);
}

.footer__link:last-child {
  border: none;
}

.footer__dropdown__menu {
  display: none;
  font-family: "SF-Pro-Text-Regular";
  font-size: 12px;
  letter-spacing: -0.28px;
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
}

.footer__dropdown__menu:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid var(--line-color);
  width: 100%;
  left: 0;
  top: 43px;
}

.is-active .footer__dropdown__menu {
  display: block;
}

.footer__dropdown__menu .footer__link {
  padding: 0.48rem 0;
}

.footer__dropdown__menu a {
  color: #616161;
}

/* MEDIAQUERIES */
@media screen and (max-width: 940px) {
  .wrapper {
    padding: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .footer__wrapper {
    flex-direction: column;
  }

  .card__body {
    margin-bottom: 1rem;
  }

  .todo {
    display: initial;
  }

  .todo__input {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .todo__button {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .footer {
    margin-bottom: 1rem;
  }

  .footer__card {
    margin: 0;
  }
}
